root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{ts,tsx,js,jsx,json}]
indent_size = 2

[*.py]
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.rs]
indent_size = 4

[*.java]
indent_size = 4

[*.{ex,exs}]
indent_size = 2

[*.sol]
indent_size = 4

[*.{tf,hcl}]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.sql]
indent_size = 2

[Makefile]
indent_style = tab

[Dockerfile]
indent_size = 2
